body{

  background-color: white;
  color: grey;
  font-family: monospace;
  ul{
    list-style-type: none;
    padding: 0px;
  }
  button{
    border: none;
  }

  header{
    nav.navbar{
      margin-top: -10px;
    }
    #burger-button{
      background: none;
      float: right;
      img{
        height: 3.3em;
      }
    }
    #nav-header{
      width: 100%;
    }
    #logo{
      text-align: center;
    }

  }

  main{
    #backdrop{
      height: 300px;
      width: 100%;
      background-color: rgb(0, 66, 0);
      margin-top: -20px; 
    }
    ul{
      li{
        div#card{
          background-color: rgb(12, 12, 12);
          width: 50%;
          display: inline-block;
          border: 1px solid beige;
          height: 400px;
        }
      }
    }
  }

}