body{

  background-color: white;
  color: grey;
  font-family: monospace;
  ul{
    list-style-type: none;
    padding: 0px;
  }
  button{
    border: none;
  }

  header{
    nav.navbar{
      margin-top: -10px;
    }
    #burger-button{
      background: none;
      float: right;
      img{
        height: 3.3em;
      }
    }
    #nav-header{
      width: 100%;
    }
    #logo{
      text-align: center;
    }

  }

  main{
    #backdrop{
      height: 300px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      margin-top: -20px; 
      img{
        height: 100%;
        width: 100%;
      }
    }
    #tag-text{
      position: absolute;
      padding: 100px 0;
      width: 100%;
      text-align: center;
      h1{
        font-size: 50px;
        color: black;
      }
    }
    ul{
      li{
        div#card{
          background-color: beige;
          display: inline-block;
          border: 1px solid beige;
          height: 400px;
          img{
            width: 100%;
          }
          #modal-button-container{
            width: 100%;
            background-color: black;
            text-align: center;
            margin-top: -21px;
          }
          #modal-button{
            background-color: white;
            color: black;
            border-radius: 2px 2px 0 0;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 480px) {
  div#card{
    width: 50% !important;
  }
  .vector{
    width: 50% !important;
  }
  #tag-text{
    padding: 85px 0 !important;
    h1{
      font-size: 65px !important;
    }
  }
}
@media screen and (min-width: 800px) {
  div#card{
    width: 33.3% !important;
  }
  .vector{
    width: 33.3% !important;
  }
  #tag-text{
    padding: 80px 0 !important;
    h1{
      font-size: 80px !important;
    }
  }
}
@media screen and (min-width: 1200px) {
  div#card{
    width: 25% !important;
  }
  .vector{
    width: 25% !important;
  }
}